<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Project Setup</title>
  </head>
  <body>
    <article class="main-wrap">
      <!--!-->
      <!--!-->
      <!--!-->
      <!--!-->
      <aside class="nav-wrap">
        <div class="nav box glass">
          <header class="site-logo">GPT Clone Guide</header>
          <ul class="nav__list">
            <!--~-->
            <!--* HOME BTN -->
            <!--^-->
            <a href="/index.html">
              <li class="nav__list-item icon-wrap home-icon-wrap">
                <img
                  src="/img/icons/icon--home.png"
                  alt=""
                  class="icon home-icon"
                />
              </li>
            </a>
            <!--~-->
            <!--* BACK BTN -->
            <!--^-->
            <a href="getting-started-ui-setup.html">
              <li class="nav__list-item icon-wrap back-icon-wrap">
                <img
                  src="/img/icons/icon--back.PNG"
                  alt=""
                  class="icon back-icon"
                />
              </li>
            </a>
          </ul>
        </div>
      </aside>
      <!--!-->
      <!--!-->
      <!--!-->
      <!--!-->
        <section class="content-area box glass">
          <div class="content">
            <!--~-->
            <!--* ACTUAL CONTENT -->
            <!--^-->
            <h1>This is an h1 for the title</h1>
            <!--topic-->
            <h2>Lesson topics go here</h2>
            <h3>All the h3s look like this by default</h3>
            <div class="box glass">
              <h4>
                when adding an image, or displaying a code snip, put it in a
                div.box and this text is an h4...
              </h4>
              <div class="code">
                <p><em class="orng">npx</em> create-react-app ./</p>
              </div>
            </div>
            <h3 class="grn">Happy Hacking! This is an h3.grn</h3>
            <!--topic-->
            <h2>I use JS to add the underline to the h2s</h2>
            <h3 class="orng">This is what an h3.orng looks like</h3>
            <h3 class="red">
              And here is an h3.red for very important statements.
            </h3>
            <!--~-->
            <!--* ACTUAL CONTENT -->
            <!--^-->
        </section>
      </div>
    </article>
    <script src="/JS/main.js"></script>
  </body>
</html>
