*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

html * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
   
}


h1 {
    text-align: center;
    margin: 4rem 1rem 3rem 1rem;
    font-size: 28px;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    margin-top: 8rem;
}

h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 16px;
    color: #e8e8e8;
}

em {
    font-style: normal;
}

.h2-underline-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-underline {
    background-color: white;
    height: 2px;
    width: 100%;
}

.h2-underline-dot {
    width: 8px;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 a {
    text-decoration: underline;
}

h3 a:hover {
    filter: brightness(115%);
   
}

.nav__list a {
    width: fit-content;
}

.content__list a {
    width: 40%;
    
}

a:hover .content__list-item {
    transform: translateY(-0.5px);
    box-shadow: -1px 10px 118px 0px rgba(255, 255, 255, 0.172);
}

a:hover .nav__list-item {
    transition: background-color 0.3s; 
    background-color: rgba(255, 255, 255, 0.080);
}

.site-logo {
    font-size: 20px;
    text-align: center;
    color: rgb(187, 133, 246);
    display: flex;
    gap: 1rem;
}

.p05 {
    padding: 0.5rem;
}

.border-round {
    border: 1px solid #ffffff4a;
    border-radius: 9999px;
}

.border-round:hover {
    background-color: #cbcbcb22;
}

.glass {
    background-color: rgba(75, 75, 75, 0.291);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 0;
}

.box {
    border-radius: 25px;
    border: 1px solid rgba(102, 101, 101, 0.165);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.177);
    padding: 1.5rem;
    background-color: #ffffff0a;
}

.box > img {
    width: 100%;
    border-radius: 6px;
}

.main-wrap {
    color: rgb(255, 255, 255);
    display: flex;
    gap: 0.5rem;
    padding: 6rem 0.2rem 1.5rem 1.5rem;
    padding-top: 6rem;
    background: rgb(30, 30, 36);
 /*background-image: linear-gradient(
            55deg,
            hsl(276, 100%, 20%) 0%,
            hsl(264, 43%, 31%) 7%,
            hsl(278, 39%, 35%) 15%,
            hsl(252, 35%, 33%) 24%,
            hsl(236, 44%, 45%) 34%
       
    );    background-size: cover; */
    height: 100vh;
}

.nav-wrap {
    display: flex;
    flex-direction: column;
}

.nav {
    width: 150px;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav__menu-toggler {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
 /*border: 1px solid rgba(255, 255, 255, 0.146);*/
 border: 0;
 right: 8px;
 bottom: 3px;
 cursor: pointer;
 border-radius: 10px;
 background-color: #b6b6b617;

}

.nav__menu-toggler:hover {
    background-color: #b6b6b625;
}

.nav__menu-toggler > img {
    width: 20px;
  
}

.nav__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav__list-item {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.272);
    width: fit-content;
    padding: 0.4rem;
    border-radius: 0.7rem;
    list-style-type: none;
    font-size: 14px;
}

.nav__btns-wrap {
    width: 100%;
    display: flex;
justify-content: space-between;}


@media screen and (min-width: 630px) {
    .nav__menu-toggler {
        display: none;
    }
}


@media screen and (max-width: 630px) {
    .nav__other-guides,
    .nav__list {
        display: none;
    }

    .nav {

       
            position: absolute;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 0;
            top: 0;
            background-color: #591cff47;
            height: fit-content;
            border-radius: 0px;
            border-bottom-right-radius: 20px;
            width: max-content;
            padding: 1rem;
            padding-right: 1rem;
        
    }

    .collapsible--expanded {
        top: 20px;
    }
       

}

.nav-expanded {
    color: white;
}

.nav__other-guides {
    border: 1px solid white;
    font-size: 300px;
}

.content__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.8rem;
    direction: ltr;
}

.content__list-item {
    border: 1px solid rgba(255, 255, 255, 0.272);
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: space-evenly;
    align-items: center;
    padding:0.8rem;
    border-radius: 0.7rem;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 14px;
}



.content-area {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;


    -webkit-overflow-scrolling: touch;
   
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    direction: rtl;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    direction: ltr;
    max-width: 600px;
    overflow: visible;
}



.content-area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.content-area::-webkit-scrollbar
{
	width: 3px;

    border-radius: 10px;
	background-color: #F5F5F5;
}

.content-area::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5729d66d;
}



/** CODE */

.code {
    font-family:monospace, Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: auto;
    letter-spacing: -0.7px;
}

.code p::selection,
.code em::selection {
    background: rgba(214, 172, 238, 0.273);
    color: inherit;
}

.code::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    height: 7px;
}
.code::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.code::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #F5F5F5;
}


.code::before {
    content: 'bash shell';
    background-color: rgb(55, 55, 55);
    
    
    align-self: flex-start;
    
    color: rgb(184, 184, 184);
    padding: 0.25rem 0.4rem 0.1rem 0.4rem;
    border-radius: 6px 0px 6px 0;
    font-size: 12px;
}

.code--html::before {
    content: 'HTML';
    color: rgb(255, 72, 0);
    letter-spacing: 1px;
}

.code--js::before {
   content: 'javascript';
   color: yellow;
}

.code--ts::before {
    content: 'TypeScript';
    color: rgb(109, 143, 255);
}

.code--json::before {
    content: 'json';
    color: rgb(93, 184, 93);
}

.code--file-struct::before {
    content: '📁';
    font-size: 20px;
}

.code p {
    margin: 0.5rem 0 0.5rem 2rem;
    display: inline-block;
    flex: 0 0 100%;
}

/*! Colors */
/*^--------*/
/*?--------*/
/*@--------*/
/**--------*/
/*^/-------*/
/*~--------*/
/*&--------*/
.comnt {
    color: rgb(123, 123, 123);
}
.orng {
    color: orange;
}
.grn {
    color: rgb(60, 162, 60);
}
.blu {
    color: rgb(74, 189, 255);
}
.red {
    color: rgb(73, 0, 0)
}
.bright-red {
    color: rgb(255, 44, 44);
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.204);
    
}
/*! Colors */
/*^--------*/
/*?--------*/
/*@--------*/
/**--------*/
/*^/-------*/
/*~--------*/
/*&--------*/

h3 {
    color: #93d4f8;
    background-color: rgba(0, 123, 255, 0.186);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 140, 255, 0.543);
    font-size: 16px;
    font-weight: 500;
}

h3.orng {
    color: #fcd392;
    background-color: rgba(255, 157, 0, 0.186);
    border: 1px solid rgba(255, 136, 0, 0.543);
}

h3.grn {
    color: #6eda80;
    background-color: rgba(0, 255, 17, 0.186);
    border: 1px solid rgba(0, 255, 68, 0.543);
}


h3.red {
    color: rgb(255, 157, 157);
    background-color: rgba(255, 0, 0, 0.257);
    border: 1px solid rgb(199, 0, 0);
}

.copyright {
    margin: 2rem;
    padding-bottom: 1rem;
}

.copyright::before {
    content: '© 2023 - Ian Thai Smith ';
    font-family: 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: center;
    
}



/** COLLAPSIBLE */

.centerer {
    display: flex;
    justify-content: center;
}



.sections-collapsible {
    max-width: 400px;
}

.sections-heading {
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-list {
    padding: 0;
}
 
    
 

    .section-item {
        padding: 1.2rem;
        font-size: 20px;
        line-height: 20px;
    }



    /** COLLAPSIBLES */

/*^ '.collapsible' can be found in 'main.js' */

.icon {
   width: 28px;  
}

.icon-wrap {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon-wrap {
    position: absolute;
    left: 24px;
    top: 170px;
}

.home-icon {
    padding: 0.4rem;
    padding-bottom: 0.2rem;
}

.back-icon-wrap {
    position: absolute;
    left: 57px;
    bottom: 18px;
    transition: opacity 0.5s ease;
}

.back-icon {
    padding: 0.37rem 0.3rem 0 0.3rem ;
}

.to-top-btn {
    border: 1px solid rgba(255, 255, 255, 0.272);
    padding: 0.4rem;
    border-radius: 30px;
    width: 34px;

    position: absolute;
    left: 35px;
    bottom: 82px;
    transform: rotateZ(90deg);
    transition: opacity 0.5s ease;

}

.to-top-btn:hover,
.to-bottom-btn:hover {
    transition: background-color 0.3s; 
    background-color: rgba(255, 255, 255, 0.080);
}

.to-bottom-btn {
    border: 1px solid rgba(255, 255, 255, 0.272);
    padding: 0.4rem;
    border-radius: 30px;
    width: 34px;

    position: absolute;
    bottom: 82px;
    left: 112px;
    transform: rotateZ(-90deg);
    transition: opacity 0.5s ease;

}

.collapsible {

    background-color: rgba(75, 75, 75, 0.101);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 0px;
    border-radius: 40px;
    line-height: 1.47rem;
    background-color: #73737315;
    transition: border-radius 1s ease;
    position: absolute;
    left: 65px;
    top: 320px;
    
}

.collapsible--expanded {
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.302);
    background-color: rgba(75, 75, 75, 0.101);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition:  background-color 2s ease;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    direction: rtl;
    padding: 1rem;
    top: 130px;
    left: 30px;
}

@media screen and (max-width: 630px) {
    .collapsible {
        left: 230px;
        top: 47px;
    }
    .collapsible--expanded {
        top: 60px;
        left: 20px;
    }

    .to-top-btn {
        top: 5px;
        left: unset;
        right: 20px;
    }
    .to-bottom-btn {
        top: 5px;
        left: unset;
        right: 65px;
    }
}


.close-btn {
    margin-top: 0.5rem;
}





.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
   
    transition: max-height 0.7s, opacity 0.5s;
    
    
}


.collapsible--expanded .collapsible__content{
    opacity: 1;
    max-height: 250px;
    width: 300px;
    transition: max-height 1s, opacity 0.6s;
    overflow-y: scroll;
    
}

.collapsible__content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.collapsible__content::-webkit-scrollbar
{
	width: 3px;

    border-radius: 10px;
	background-color: #F5F5F5;
}

.collapsible__content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5729d66d;
}

.collapsible--expanded .collapsible__button{
    left: 0;
}

.collapsible__button {
    transform: rotatex(-180deg);
    transition: transform 0.5s, background-color 0.3s;
    align-self: center;
    width: 38px;
    background-color:var(--color--btn);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.302);
    cursor: pointer;
    position: absolute;
    left: 6px;
    top: -43px;
    background-color: rgba(43, 43, 43, 0.901);
}

.collapsible__button.close-btn:hover {
    background-color: #444343;
}

.collapsible__button:hover {
    background-color: #4c2d7580;
}

.collapsible--expanded .collapsible__button {
    transform: rotatex(0);
    top: 100%;
    transition: transform 0.32s;
}

ul {
    padding: 0;
    list-style-type: none;
}

